:root {
  --main-hue: 245;
  --logo-color: hsl(var(--main-hue), 66.1%, 64.1%);
  --main-color: hsl(var(--main-hue), 90%, 15%);
  --sec-color: hsl(var(--main-hue), 80%, 25%);
  --sec-gray: hsl(var(--main-hue), 35%, 25%);
  --main-text: hsl(var(--main-hue), 20%, 90%);
  --main-gray: hsl(var(--main-hue), 15%, 55%);
  --main-see: hsl(var(--main-hue), 90%, 15%, 0.5);
}
* {
  -webkit-appearance: none;
}
.link {
  color: inherit;
  text-decoration: none;
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin phone {
  @media (max-width: 480px) {
    @content;
  }
}
