.newProduct {
  flex: 4;
  margin: 0 20px;
  font-size: 16px;
}

.addProductForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem>label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem>input {
  padding: 10px;
  font-size: 16px;
}

.addProductItem>select {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  height: 40px;
  font-size: 22px;
  align-self: center;
}

.notImage {
  border: 3px solid tomato;
  border-radius: 10px;
}