.listItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  color: var(--main-text);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    width: 325px;
    height: 300px;
    position: absolute;
    top: -150px;
    -webkit-box-shadow: 3px 3px 30px 10px #7b7b9d;
    box-shadow: 3px 3px 30px 10px #7b7b9d;
    border-radius: 5px;
    img {
      height: 140px;
    }
    video {
      width: 100%;
      height: 140px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    .itemInfo {
      display: flex;
      flex-direction: column;
      padding: 5px;
      .icons {
        display: flex;
        margin-bottom: 10px;
        .icon {
          border: 2px solid var(--main-text);
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 16px;
        }
      }
      .itemInfoTop {
        color: var(--main-gray);
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        .limit {
          border: 1px solid var(--main-gray);
          padding: 1px 3px;
          border-radius: 2px;
        }
      }
      .desc {
        font-size: 13px;
        margin-bottom: 10px;
      }
      .genre {
        font-size: 14px;
        color: var(--main-gray);
      }
    }
  }
}
